<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>preferenceLabelFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica Neue</string>
		<key>fontSize</key>
		<string>17</string>
	</dict>
	<key>preferenceLabelColor</key>
	<string>#4F758F</string>
	<key>titleFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica Neue</string>
		<key>fontSize</key>
		<string>17</string>
	</dict>
	<key>titleColor</key>
	<string>#4F758F</string>
	<key>listColor</key>
	<string>#F6F6F6</string>
	<key>backgroundColor</key>
	<string>#F6F6F6</string>
	<key>cellSeparatorColor</key>
	<string>#F6F6F6</string>
	<key>cellBackgroundColor</key>
	<string>#F6F6F6</string>
	<key>cellSwitchOffTintColor</key>
	<string>#7FCDFD</string>
	<key>cellSwitchOnColor</key>
	<string>#7FCDFD</string>
	<key>closeButtonFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica Neue</string>
		<key>fontSize</key>
		<string>17</string>
	</dict>
	<key>closeButtonColor</key>
	<string>#4F758F</string>
</dict>
</plist>
